# Server & API Framework
fastapi
uvicorn
pydantic
python-multipart

# Environment Utilities
python-dotenv

# Database & Vector Store
psycopg2-binary
pgvector
sqlalchemy

# Security & Authentication (JWT & Password Hashing)
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Math & Data Processing
numpy

# AI Libraries (SDK Google GenAI récent & Groq)
google-genai
groq