# Web Framework & Server
fastapi
uvicorn
pydantic
python-multipart

# Environment & Utilities
python-dotenv

# Database & Vector Search
psycopg2-binary
pgvector
sqlalchemy

# Security & Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# RAG, Data Processing & AI
numpy
google-generativeai
groq
langchain